<h1>Kurzusok</h1>

<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <div class="row mb-2">
    <label class="col-sm" for="course-name">Kurzus neve</label>
    <input
      class="col-sm"
      id="course-name"
      name="courseName"
      [formControl]="courseForm.controls.courseName"
      type="text"
    />
  </div>
  <div class="row">
    <label class="col-sm" for="gsheet-id">GSheet Id</label>
    <input
      class="col-sm"
      id="gsheet-id"
      name="gsheetId"
      type="text"
      [formControl]="courseForm.controls.gsheetId"
    />
  </div>

  <section id="days-section">
    <app-days-form [daysForm]="courseForm.controls.days"></app-days-form>
  </section>

  <div class="row mt-4">
    <div class="col-sm">
      <button id="submit-btn" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
