<h1>Kurzusok</h1>

<form #courseForm>
  <div class="row mb-2">
    <label class="col-sm" for="course-name">Kurzus neve</label>
    <input class="col-sm" id="course-name" name="courseNameValue" type="text" />
  </div>
  <div class="row">
    <label class="col-sm" for="gsheet-id">GSheet Id</label>
    <input class="col-sm" id="gsheet-id" name="gsheetIdValue" type="text" />
  </div>

  <section id="weeks-section">
    <div *ngFor="let week of weeks" class="row my-2">
      <input
        class="col-sm"
        type="checkbox"
        [name]="week.toLowerCase() + 'CheckboxValue'"
        [id]="week.toLowerCase() + '-checkbox'"
      />
      <span class="col-sm">{{ week }}</span>
      <input
        class="col-sm"
        [name]="week.toLowerCase() + 'Value'"
        [id]="week.toLowerCase() + '-value'"
        type="number"
      />
    </div>
  </section>

  <div class="row mt-4">
    <div class="col-sm">
      <button
        id="submit-btn"
        class="btn btn-primary"
        (click)="onSubmit($event)"
      >
        Submit
      </button>
    </div>
  </div>
</form>
